<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BlacklistInterceptLogMapper">
    
    <resultMap type="BlacklistInterceptLog" id="BlacklistInterceptLogResult">
        <result property="id"    column="id"    />
        <result property="ip"    column="ip"    />
        <result property="param"    column="param"    />
        <result property="method"    column="method"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectBlacklistInterceptLogVo">
        select id, ip, param, method, create_time from blacklist_intercept_log
    </sql>

    <select id="selectBlacklistInterceptLogList" parameterType="BlacklistInterceptLog" resultMap="BlacklistInterceptLogResult">
        <include refid="selectBlacklistInterceptLogVo"/>
        <where>  
            <if test="ip != null  and ip != ''"> and ip = #{ip}</if>
            <if test="method != null  and method != ''"> and method = #{method}</if>
        </where>
        order by id desc
    </select>
    
    <select id="selectBlacklistInterceptLogById" parameterType="Long" resultMap="BlacklistInterceptLogResult">
        <include refid="selectBlacklistInterceptLogVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBlacklistInterceptLog" parameterType="BlacklistInterceptLog" useGeneratedKeys="true" keyProperty="id">
        insert into blacklist_intercept_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ip != null">ip,</if>
            <if test="param != null">param,</if>
            <if test="method != null">method,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ip != null">#{ip},</if>
            <if test="param != null">#{param},</if>
            <if test="method != null">#{method},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

</mapper>