$max-1680: 1680px;
$max-1440: 1440px;
$max-1200: 1240px;
$max-600: 600px;

$header-size: 16px;
$body-text-size: 14px;
$btn-font-size: 16px;

$themen-color: #D1291A;
$body-color: #000;
$btn-text-color: #fff;
$input-bgColor: #F8F8F8;


