<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.AfterSaleCountryMapper">
    
    <resultMap type="AfterSaleCountry" id="AfterSaleCountryResult">
        <result property="id"    column="id"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectAfterSaleCountryVo">
        select id, status, create_time, update_time, create_by, update_by from website_after_sale_country
    </sql>

    <select id="selectAfterSaleCountryList" resultType="com.ruoyi.website.domain.vo.AfterSaleCountryLangVO">
        select
        sc.id, sc.status, sc.create_time as createTime, cl.id as countryLangId, cl.name, cl.language, cl.link_url as linkUrl
        from website_after_sale_country as sc
        left join website_after_sale_country_lang as cl on sc.id = cl.country_id
        <where>
            cl.language = 'en'
            <if test="name != null and name != ''">
                and cl.name like concat('%', #{name}, '%')
            </if>
        </where>
    </select>
    
    <select id="selectAfterSaleCountryById" parameterType="Long" resultType="com.ruoyi.website.domain.vo.AfterSaleCountryLangVO">
        select
        sc.id, sc.status, sc.create_time as createTime, cl.id as countryLangId, cl.name, cl.language, cl.link_url as linkUrl
        from website_after_sale_country as sc
        left join website_after_sale_country_lang as cl on sc.id = cl.country_id
        where sc.id = #{id}
    </select>
        
    <insert id="insertAfterSaleCountry" parameterType="AfterSaleCountry" useGeneratedKeys="true" keyProperty="id">
        insert into website_after_sale_country
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateAfterSaleCountry" parameterType="AfterSaleCountry">
        update website_after_sale_country
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAfterSaleCountryById" parameterType="Long">
        delete from website_after_sale_country where id = #{id}
    </delete>

    <delete id="deleteAfterSaleCountryByIds" parameterType="String">
        delete from website_after_sale_country where id in 
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectByLang" resultType="com.ruoyi.website.domain.vo.AfterSaleCountryVO">
        select
        cl.name, cl.link_url as linkUrl
        from website_after_sale_country as sc
        left join website_after_sale_country_lang as cl on sc.id = cl.country_id
        where sc.status = 0 and cl.language = #{lang}
    </select>
</mapper>