<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.website.mapper.BannerLangMapper">
    
    <resultMap type="BannerLang" id="BannerLangResult">
        <result property="id"    column="id"    />
        <result property="bannerId"    column="banner_id"    />
        <result property="title"    column="title"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="videoUrl"    column="video_url"    />
        <result property="linkUrl"    column="link_url"    />
        <result property="sort"    column="sort"    />
        <result property="type"    column="type"    />
        <result property="describe"    column="describe"    />
        <result property="language"    column="language"    />
        <result property="aspectRatio"    column="aspect_ratio"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
        <result property="enable"   column="enable"     />
    </resultMap>

    <sql id="selectBannerLangVo">
        select id, banner_id, title, image_url, video_url, link_url, sort, `type`, `describe`, `language`, aspect_ratio, create_time, update_time, create_by, update_by, del_flag, remark, enable from website_banner_lang
    </sql>

    <select id="selectBannerLangList" parameterType="BannerLang" resultMap="BannerLangResult">
        <include refid="selectBannerLangVo"/>
        <where>
            <if test="bannerId != null  and bannerId != ''"> and banner_id = #{bannerId}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="imageUrl != null  and imageUrl != ''"> and image_url = #{imageUrl}</if>
            <if test="videoUrl != null  and videoUrl != ''"> and video_url = #{videoUrl}</if>
            <if test="linkUrl != null  and linkUrl != ''"> and link_url = #{linkUrl}</if>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="describe != null  and describe != ''"> and `describe` = #{describe}</if>
            <if test="language != null  and language != ''"> and `language` = #{language}</if>
            <if test="aspectRatio != null  and aspectRatio != ''"> and aspect_ratio = #{aspectRatio}</if>
            <if test="enable != null  and enable != ''"> and enable = #{enable}</if>
        </where>
    </select>
    
    <select id="selectBannerLangById" parameterType="Long" resultMap="BannerLangResult">
        <include refid="selectBannerLangVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBannerLang" parameterType="BannerLang" useGeneratedKeys="true" keyProperty="id">
        insert into website_banner_lang
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bannerId != null">banner_id,</if>
            <if test="title != null">title,</if>
            <if test="imageUrl != null">image_url,</if>
            <if test="videoUrl != null">video_url,</if>
            <if test="linkUrl != null">link_url,</if>
            <if test="sort != null">sort,</if>
            <if test="type != null">`type`,</if>
            <if test="describe != null">`describe`,</if>
            <if test="language != null">`language`,</if>
            <if test="aspectRatio != null">aspect_ratio,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
            <if test="enable != null">enable,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bannerId != null">#{bannerId},</if>
            <if test="title != null">#{title},</if>
            <if test="imageUrl != null">#{imageUrl},</if>
            <if test="videoUrl != null">#{videoUrl},</if>
            <if test="linkUrl != null">#{linkUrl},</if>
            <if test="sort != null">#{sort},</if>
            <if test="type != null">#{type},</if>
            <if test="describe != null">#{describe},</if>
            <if test="language != null">#{language},</if>
            <if test="aspectRatio != null">#{aspectRatio},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="enable != null">#{enable},</if>
         </trim>
    </insert>

    <update id="updateBannerLang" parameterType="BannerLang">
        update website_banner_lang
        <trim prefix="SET" suffixOverrides=",">
            <if test="bannerId != null">banner_id = #{bannerId},</if>
            <if test="title != null">title = #{title},</if>
            <if test="imageUrl != null">image_url = #{imageUrl},</if>
            <if test="videoUrl != null">video_url = #{videoUrl},</if>
            <if test="linkUrl != null">link_url = #{linkUrl},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="type != null">`type` = #{type},</if>
            <if test="describe != null">`describe` = #{describe},</if>
            <if test="language != null">`language` = #{language},</if>
            <if test="aspectRatio != null">aspect_ratio = #{aspectRatio},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="enable != null">enable = #{enable},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateBatchBannerLang">
        update website_banner_lang
        <trim prefix="set" suffixOverrides=",">
            <foreach collection="list" item="item" index="index">
                <if test="item.bannerId != null">banner_id = #{item.bannerId},</if>
                <if test="item.title != null">title = #{item.title},</if>
                <if test="item.imageUrl != null">image_url = #{item.imageUrl},</if>
                <if test="item.videoUrl != null">video_url = #{item.videoUrl},</if>
                <if test="item.linkUrl != null">link_url = #{item.linkUrl},</if>
                <if test="item.sort != null">sort = #{item.sort},</if>
                <if test="item.type != null">`type` = #{type},</if>
                <if test="item.describe != null">`describe` = #{item.describe},</if>
                <if test="item.language != null">`language` = #{item.language},</if>
                <if test="aspectRatio != null">aspect_ratio = #{aspectRatio},</if>
                <if test="item.createTime != null">create_time = #{item.createTime},</if>
                <if test="item.updateTime != null">update_time = #{item.updateTime},</if>
                <if test="item.createBy != null">create_by = #{item.createBy},</if>
                <if test="item.updateBy != null">update_by = #{item.updateBy},</if>
                <if test="item.delFlag != null">del_flag = #{item.delFlag},</if>
                <if test="item.remark != null">remark = #{item.remark},</if>
                <if test="item.enable != null">enable = #{item.enable},</if>
            </foreach>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <insert id="batchInsert">
        insert into website_banner_lang
        (banner_id, title, image_url, video_url, link_url, sort, `type`, `describe`, `language`, aspect_ratio,
        create_time, update_time, create_by, update_by, del_flag, remark, enable)
        values
        <foreach collection ="list" item="item" index="index" separator =",">
            (#{item.bannerId},
            #{item.title},
            #{item.imageUrl},
            #{item.videoUrl},
            #{item.linkUrl},
            #{item.sort},
            #{item.type},
            #{item.describe},
            #{item.language},
            #{item.aspectRatio},
            #{item.createTime},
            #{item.updateTime},
            #{item.createBy},
            #{item.updateBy},
            #{item.delFlag},
            #{item.remark},
            #{item.enable})
        </foreach >
    </insert>

    <delete id="deleteBannerLangById" parameterType="Long">
        delete from website_banner_lang where id = #{id}
    </delete>

    <delete id="deleteBannerLangByIds" parameterType="String">
        delete from website_banner_lang where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteByBannerIds" parameterType="Long">
        delete from website_banner_lang where banner_id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectBannerByLang" resultMap="BannerLangResult">
        select id, banner_id, title, image_url, video_url, link_url, sort, `type`, `describe`, `language`, aspect_ratio, enable
        from website_banner_lang
        <where>
            <if test="lang != null  and lang != ''">
                and `language` = #{lang}
            </if>
            <if test="type != null">
                and `type` = #{type}
            </if>
            <if test="enable != null">
                and `enable` = #{enable}
            </if>
        </where>
        order by sort
    </select>
</mapper>