<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.website.mapper.ContentUsMapper">
    
    <resultMap type="ContentUs" id="ContentUsResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="phone"    column="phone"    />
        <result property="gender"    column="gender"    />
        <result property="email"    column="email"    />
        <result property="country"    column="country"    />
        <result property="type"    column="type"    />
        <result property="describe"    column="describe"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectContentUsVo">
        select id, name, phone, gender, email, country, type, describe, create_by, create_time, update_by, update_time, del_flag, remark from website_content_us
    </sql>

    <select id="selectContentUsList" parameterType="ContentUs" resultMap="ContentUsResult">
        <include refid="selectContentUsVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="phone != null "> and phone = #{phone}</if>
            <if test="gender != null  and gender != ''"> and gender = #{gender}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="country != null  and country != ''"> and country = #{country}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="describe != null  and describe != ''"> and describe = #{describe}</if>
        </where>
    </select>
    
    <select id="selectContentUsById" parameterType="Long" resultMap="ContentUsResult">
        <include refid="selectContentUsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertContentUs" parameterType="ContentUs" useGeneratedKeys="true" keyProperty="id">
        insert into website_content_us
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="phone != null">phone,</if>
            <if test="gender != null">gender,</if>
            <if test="email != null">email,</if>
            <if test="country != null">country,</if>
            <if test="type != null">type,</if>
            <if test="describe != null">describe,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="phone != null">#{phone},</if>
            <if test="gender != null">#{gender},</if>
            <if test="email != null">#{email},</if>
            <if test="country != null">#{country},</if>
            <if test="type != null">#{type},</if>
            <if test="describe != null">#{describe},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateContentUs" parameterType="ContentUs">
        update website_content_us
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="email != null">email = #{email},</if>
            <if test="country != null">country = #{country},</if>
            <if test="type != null">type = #{type},</if>
            <if test="describe != null">describe = #{describe},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteContentUsById" parameterType="Long">
        delete from website_content_us where id = #{id}
    </delete>

    <delete id="deleteContentUsByIds" parameterType="String">
        delete from website_content_us where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>