<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.website.mapper.JoinUsWelfareLangMapper">
    
    <resultMap type="JoinUsWelfareLang" id="JoinUsWelfareLangResult">
        <result property="id"    column="id"    />
        <result property="welfareId"    column="welfare_id"    />
        <result property="name"    column="name"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="language"    column="language"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectJoinUsWelfareLangVo">
        select id, welfare_id, name, image_url, language, create_time, update_time, create_by, update_by from website_join_us_welfare_lang
    </sql>

    <select id="selectJoinUsWelfareLangList" parameterType="JoinUsWelfareLang" resultMap="JoinUsWelfareLangResult">
        <include refid="selectJoinUsWelfareLangVo"/>
        <where>  
            <if test="welfareId != null "> and welfare_id = #{welfareId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="imageUrl != null  and imageUrl != ''"> and image_url = #{imageUrl}</if>
            <if test="language != null  and language != ''"> and language = #{language}</if>
        </where>
    </select>
    
    <select id="selectJoinUsWelfareLangById" parameterType="Long" resultMap="JoinUsWelfareLangResult">
        <include refid="selectJoinUsWelfareLangVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertJoinUsWelfareLang" parameterType="JoinUsWelfareLang" useGeneratedKeys="true" keyProperty="id">
        insert into website_join_us_welfare_lang
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="welfareId != null">welfare_id,</if>
            <if test="name != null">name,</if>
            <if test="imageUrl != null">image_url,</if>
            <if test="language != null">language,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="welfareId != null">#{welfareId},</if>
            <if test="name != null">#{name},</if>
            <if test="imageUrl != null">#{imageUrl},</if>
            <if test="language != null">#{language},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateJoinUsWelfareLang" parameterType="JoinUsWelfareLang">
        update website_join_us_welfare_lang
        <trim prefix="SET" suffixOverrides=",">
            <if test="welfareId != null">welfare_id = #{welfareId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="imageUrl != null">image_url = #{imageUrl},</if>
            <if test="language != null">language = #{language},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteJoinUsWelfareLangById" parameterType="Long">
        delete from website_join_us_welfare_lang where id = #{id}
    </delete>

    <delete id="deleteJoinUsWelfareLangByIds" parameterType="String">
        delete from website_join_us_welfare_lang where id in 
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="batchInsert">
        insert into website_join_us_welfare_lang
        (welfare_id, `name`, image_url, `language`, create_time, update_time, create_by, update_by)
        values
        <foreach collection ="list" item="item" index="index" separator =",">
            (#{item.welfareId},
            #{item.name},
            #{item.imageUrl},
            #{item.language},
            #{item.createTime},
            #{item.updateTime},
            #{item.createBy},
            #{item.updateBy})
        </foreach >
    </insert>
</mapper>