<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.website.mapper.JoinUsJobDetailsLangMapper">
    
    <resultMap type="JoinUsJobDetailsLang" id="JoinUsJobDetailsLangResult">
        <result property="id"    column="id"    />
        <result property="jobTitleId"    column="job_title_id"    />
        <result property="describe"    column="describe"    />
        <result property="language"    column="language"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectJoinUsJobDetailsLangVo">
        select id, job_title_id, `describe`, `language`, create_time, update_time, create_by, update_by from website_join_us_job_details_lang
    </sql>

    <select id="selectJoinUsJobDetailsLangList" parameterType="JoinUsJobDetailsLang" resultMap="JoinUsJobDetailsLangResult">
        <include refid="selectJoinUsJobDetailsLangVo"/>
        <where>  
            <if test="jobTitleId != null "> and job_title_id = #{jobTitleId}</if>
            <if test="describe != null  and describe != ''"> and describe like concat('%', #{describe}, '%')</if>
            <if test="language != null  and language != ''"> and language = #{language}</if>
        </where>
    </select>
    
    <select id="selectJoinUsJobDetailsLangById" parameterType="Long" resultMap="JoinUsJobDetailsLangResult">
        <include refid="selectJoinUsJobDetailsLangVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertJoinUsJobDetailsLang" parameterType="JoinUsJobDetailsLang" useGeneratedKeys="true" keyProperty="id">
        insert into website_join_us_job_details_lang
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="jobTitleId != null">job_title_id,</if>
            <if test="describe != null">`describe`,</if>
            <if test="language != null">`language`,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="jobTitleId != null">#{jobTitleId},</if>
            <if test="describe != null">#{describe},</if>
            <if test="language != null">#{language},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateJoinUsJobDetailsLang" parameterType="JoinUsJobDetailsLang">
        update website_join_us_job_details_lang
        <trim prefix="SET" suffixOverrides=",">
            <if test="jobTitleId != null">job_title_id = #{jobTitleId},</if>
            <if test="describe != null">describe = #{describe},</if>
            <if test="language != null">`language` = #{language},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteJoinUsJobDetailsLangById" parameterType="Long">
        delete from website_join_us_job_details_lang where id = #{id}
    </delete>

    <delete id="deleteJoinUsJobDetailsLangByIds" parameterType="String">
        delete from website_join_us_job_details_lang where id in 
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="batchInsert">
        insert into website_join_us_job_details_lang
        (job_title_id, `describe`, `language`, create_time)
        values
        <foreach collection ="list" item="item" index="index" separator =",">
            (#{item.jobTitleId},
            #{item.describe},
            #{item.language},
            #{item.createTime})
        </foreach >
    </insert>

    <delete id="deleteByTitleIds">
        delete from website_join_us_job_details_lang where job_title_id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>