<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.website.mapper.SocialReportLangMapper">
    
    <resultMap type="SocialReportLang" id="SocialReportLangResult">
        <result property="id"    column="id"    />
        <result property="socialReportId"    column="social_report_id"    />
        <result property="title"    column="title"    />
        <result property="reportUrl"    column="report_url"    />
        <result property="language"    column="language"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectSocialReportLangVo">
        select id, social_report_id, title, report_url, `language`, create_time, update_time, create_by, update_by from website_social_report_lang
    </sql>

    <select id="selectSocialReportLangList" parameterType="SocialReportLang" resultMap="SocialReportLangResult">
        <include refid="selectSocialReportLangVo"/>
        <where>  
            <if test="socialReportId != null "> and social_report_id = #{socialReportId}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="reportUrl != null  and reportUrl != ''"> and report_url = #{reportUrl}</if>
            <if test="language != null  and language != ''"> and `language` = #{language}</if>
        </where>
    </select>
    
    <select id="selectSocialReportLangById" parameterType="Long" resultMap="SocialReportLangResult">
        <include refid="selectSocialReportLangVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSocialReportLang" parameterType="SocialReportLang" useGeneratedKeys="true" keyProperty="id">
        insert into website_social_report_lang
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="socialReportId != null">social_report_id,</if>
            <if test="title != null">title,</if>
            <if test="reportUrl != null">report_url,</if>
            <if test="language != null">`language`,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="socialReportId != null">#{socialReportId},</if>
            <if test="title != null">#{title},</if>
            <if test="reportUrl != null">#{reportUrl},</if>
            <if test="language != null">#{language},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateSocialReportLang" parameterType="SocialReportLang">
        update website_social_report_lang
        <trim prefix="SET" suffixOverrides=",">
            <if test="socialReportId != null">social_report_id = #{socialReportId},</if>
            <if test="title != null">title = #{title},</if>
            <if test="reportUrl != null">report_url = #{reportUrl},</if>
            <if test="language != null">`language` = #{language},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSocialReportLangById" parameterType="Long">
        delete from website_social_report_lang where id = #{id}
    </delete>

    <delete id="deleteSocialReportLangByIds" parameterType="String">
        delete from website_social_report_lang where id in 
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="batchInsert">
        insert into website_social_report_lang
        (social_report_id, title, report_url, `language`, create_time, update_time, create_by, update_by)
        values
        <foreach collection ="list" item="item" index="index" separator =",">
            (#{item.socialReportId},
            #{item.title},
            #{item.reportUrl},
            #{item.language},
            #{item.createTime},
            #{item.updateTime},
            #{item.createBy},
            #{item.updateBy})
        </foreach >
    </insert>
</mapper>