<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.website.mapper.SocialContentLangMapper">
    
    <resultMap type="SocialContentLang" id="SocialContentLangResult">
        <result property="id"    column="id"    />
        <result property="socialContentId"    column="social_content_id"    />
        <result property="language"    column="language"    />
        <result property="content"    column="content"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectSocialContentLangVo">
        select id, social_content_id, `language`, content, create_time, update_time, create_by, update_by from website_social_content_lang
    </sql>

    <select id="selectSocialContentLangList" parameterType="SocialContentLang" resultMap="SocialContentLangResult">
        <include refid="selectSocialContentLangVo"/>
        <where>  
            <if test="socialContentId != null "> and social_content_id = #{socialContentId}</if>
            <if test="language != null  and language != ''"> and `language` = #{language}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
        </where>
    </select>
    
    <select id="selectSocialContentLangById" parameterType="Long" resultMap="SocialContentLangResult">
        <include refid="selectSocialContentLangVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSocialContentLang" parameterType="SocialContentLang" useGeneratedKeys="true" keyProperty="id">
        insert into website_social_content_lang
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="socialContentId != null">social_content_id,</if>
            <if test="language != null">`language`,</if>
            <if test="content != null">content,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="socialContentId != null">#{socialContentId},</if>
            <if test="language != null">#{language},</if>
            <if test="content != null">#{content},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateSocialContentLang" parameterType="SocialContentLang">
        update website_social_content_lang
        <trim prefix="SET" suffixOverrides=",">
            <if test="socialContentId != null">social_content_id = #{socialContentId},</if>
            <if test="language != null">`language` = #{language},</if>
            <if test="content != null">content = #{content},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSocialContentLangById" parameterType="Long">
        delete from website_social_content_lang where id = #{id}
    </delete>

    <delete id="deleteSocialContentLangByIds" parameterType="String">
        delete from website_social_content_lang where id in 
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="batchInsert">
        insert into website_social_content_lang
        (social_content_id, `language`, content, create_time, update_time, create_by, update_by)
        values
        <foreach collection ="list" item="item" index="index" separator =",">
            (#{item.socialContentId},
            #{item.language},
            #{item.content},
            #{item.createTime},
            #{item.updateTime},
            #{item.createBy},
            #{item.updateBy})
        </foreach >
    </insert>
</mapper>