<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.website.mapper.SocialReportMapper">
    
    <resultMap type="SocialReport" id="SocialReportResult">
        <result property="id"    column="id"    />
        <result property="coverImageUrl"    column="cover_image_url"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="sort"    column="sort"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectSocialReportVo">
        select id, cover_image_url,  sort, status, create_time, update_time, create_by, update_by from website_social_report
    </sql>

    <select id="selectSocialReportList" resultType="com.ruoyi.website.domain.vo.SocialReportVO">
        select
        sr.id, sr.cover_image_url as coverImageUrl, sr.create_time as createTime, rl.id as socialReportLangId,
        rl.title, rl.report_url as reportUrl, rl.language, sr.sort, sr.status
        from website_social_report as sr
        left join website_social_report_lang as rl on sr.id = rl.social_report_id
        <where>
            <if test="lang != null and lang != ''">
                and rl.language = #{lang}
            </if>
            <if test="status != null">
                and sr.status = #{status}
            </if>
        </where>
        <if test="sort != null and sort == 0">
            order by sr.create_time desc
        </if>
        <if test="sort != null and sort == 1">
            order by sr.sort
        </if>
    </select>
        
    <insert id="insertSocialReport" parameterType="SocialReport" useGeneratedKeys="true" keyProperty="id">
        insert into website_social_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="coverImageUrl != null">cover_image_url,</if>
            <if test="sort != null">sort,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="coverImageUrl != null">#{coverImageUrl},</if>
            <if test="sort != null">#{sort},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateSocialReport" parameterType="SocialReport">
        update website_social_report
        <trim prefix="SET" suffixOverrides=",">
            <if test="coverImageUrl != null">cover_image_url = #{coverImageUrl},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSocialReportById" parameterType="Long">
        delete from website_social_report where id = #{id}
    </delete>

    <delete id="deleteSocialReportByIds" parameterType="String">
        delete from website_social_report where id in 
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectSocialReportById" resultType="com.ruoyi.website.domain.vo.SocialReportVO">
        select
        sr.id, sr.cover_image_url as coverImageUrl, sr.create_time as createTime, rl.id as socialReportLangId,
        rl.title, rl.report_url as reportUrl, rl.language, sr.sort, sr.status
        from website_social_report as sr
        left join website_social_report_lang as rl on sr.id = rl.social_report_id
        where  sr.id = #{id}
    </select>
</mapper>