<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.website.mapper.SocialContentMapper">
    
    <resultMap type="SocialContent" id="SocialContentResult">
        <result property="id"    column="id"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectSocialContentVo">
        select id, status, create_time, update_time, create_by, update_by from website_social_content
    </sql>

    <select id="selectSocialContentList" resultType="com.ruoyi.website.domain.vo.SocialContentVO">
        select
        sc.id, sc.status, sc.create_time as createTime, cl.id as socialContentLangId,
        cl.language, cl.content
        from website_social_content as sc
        left join website_social_content_lang as cl on sc.id = cl.social_content_id
        <where>
            <if test="lang != null and lang != ''">
                and cl.language = #{lang}
            </if>
            <if test="status != null">
                and sc.status = #{status}
            </if>
            order by sc.create_time desc
        </where>
    </select>
    
    <select id="selectSocialContentById" parameterType="Long" resultMap="SocialContentResult">
        <include refid="selectSocialContentVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSocialContent" parameterType="SocialContent" useGeneratedKeys="true" keyProperty="id">
        insert into website_social_content
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateSocialContent" parameterType="SocialContent">
        update website_social_content
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSocialContentById" parameterType="Long">
        delete from website_social_content where id = #{id}
    </delete>

    <delete id="deleteSocialContentByIds" parameterType="String">
        delete from website_social_content where id in 
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectSocialContentListById" resultType="com.ruoyi.website.domain.vo.SocialContentVO">
        select
        sc.id, sc.status, sc.create_time as createTime, cl.id as socialContentLangId,
        cl.language, cl.content
        from website_social_content as sc
        left join website_social_content_lang as cl on sc.id = cl.social_content_id
        where sc.id = #{id}
    </select>
</mapper>